<?xml version="1.0" encoding="UTF-8"?>
<DockPanel>
  <Contents>
    <Content PersistString="Micromanager_net.UI.GUIDeviceForm" ExtraInformation="CameraProperties|camera" />
    <Content PersistString="Micromanager_net.UI.GUIDeviceForm" ExtraInformation="XYStageProperties|xyStage" />
    <Content PersistString="Micromanager_net.UI.GUIDeviceForm" ExtraInformation="Micromanager_net.UI.MoreRecordTools|" />
    <Content PersistString="Micromanager_net.UI.GUIDeviceForm" ExtraInformation="Micromanager_net.UI.CoreLogControl|" />
    <Content PersistString="Micromanager_net.UI.GUIDeviceForm" ExtraInformation="Micromanager_net.UI.StageJoystick|" />
    <Content PersistString="Picture Board" ExtraInformation="|Display" />
  </Contents>
</DockPanel>